.chat-rooms__wrapper {
  border: 1px solid darkgray;
  width: 100%;
  height: 50%;
  background-color: lightgray;

  .chat-rooms__header {
    height: 2rem;
    overflow: auto;
    color: white;
    font-weight: 600;
    background-color: gray;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
  }

  .chat-rooms__content {
    display: flex;
    justify-content: left;
    align-items: start;
    font-size: 0.9rem;
    position: relative;

    ul {
      padding-left: 1rem;
    }
  }

  li {
    cursor: pointer;
    list-style-type: none;

    span {
      display: inline-block;
      position: absolute;
      right: 1rem;
    }
  }

  li.selected {
    list-style: circle;
    font-weight: 600;
  }
}