.chat__wrapper {
  border: 1px solid darkgray;
  width: 100vw;
  min-height: 30vh;
  box-sizing: border-box;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chat__messages-window {
    flex-grow: 5;

    ul {
      padding-left: 1rem;

      li {
        list-style-type: none;
      }
    }

    .chat__username {
      font-weight: 600;
    }
  }

  .chat__users-input {
    margin: 0 auto;
    width: 100%;
    background-color: lightgray;
    padding: 0 0.3rem;

    input {
      width: 85%;
      font-size: 1.2em;
    }

    a.send-button {
      width: 15%;
      display: inline-block;
      background-color: gray;
      color: white;
      text-align: center;
      font-weight: 700;
      text-decoration: none;
      user-select: none;
      padding: .2em 2em;
      outline: none;
      border: 2px solid;
      border-radius: 1px;
      transition: 0.2s;
    }
    a.send-button:hover { background: rgba(255,255,255,.2); }
    a.send-button:active { background: white; }
  }
}