.users__wrapper {
  border: 1px solid darkgray;
  width: 100%;
  height: 50%;
  background-color: lightgray;

  .users__header {
    height: 2rem;
    font-weight: 600;
    color: white;
    background-color: gray;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
  }

  .users__content {
    display: flex;
    overflow: auto;
    justify-content: left;
    align-items: start;
    font-size: 0.9rem;

    ul {
      padding-left: 1rem;
    }
  }

  li {
    list-style-type: none;
  }
}