.video-broadcasting__wrapper {
  border: 1px solid darkgray;
  width: 75vw;
  min-height: 60vh;
  color: white;
  background-color: gray;
  text-align: center;
  position: relative;

  .stub {
    margin: 0 auto;
    font-size: 200%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}