.content {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;

  .chat-info__wrap {
    display: flex;
    flex-direction: column;
    width: 25vw;
    justify-content: space-between;
  }
}