.error__wrapper {
  color: red;
  background-color: black;
  z-index: 1100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0 auto;

  .none {
    display: none;
  }

  .error-connection {
    font-weight: 600;
    font-size: 200%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
}